<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<script type="text/javascript" src='scripts/vue.js'></script>
</head>
<body>
<section class="task-page">
	<div id="menu-area">
		<div class="container">
			<span class="prev-day"></span>
			<span class="date-display">{{ message }}</span>
			<span class="bills"></span>
			<span class="next-day"></span>
		</div>
	</div>
	<div id="task-area">
		<ul id="task-area-wrapper">
			<li class="task" v-for="(item, index) of items" v-on:delete="itmes.splice(index, 1)">
				<span class="check-button"><input type="checkbox" name="check" v-model="item.done"></span>
				<span class="task-content" v-bind:class="{ finished: item.done }"><input type="text" name="content" v-on:keyup.delete="removetask(index)" v-bind:title="item.content" v-bind:value="item.content" v-model="item.content"></span>
			</li>
			<li class="add-task">
				<span class="add-button" v-on:click="newtask">···</span>
			</li>
		</ul>
	</div>
</section>
</body>
<script type="text/javascript">
	var date_display = new Vue({
		el:'.date-display',
		data:{
			message: (new Date()).toLocaleDateString()
		}
	})

	var task_content = new Vue({
		el:'#task-area-wrapper',
		data:{
			items:[
				{content:'Task1',done:false},
				{content:'Task2',done:false},
				{content:'Task3',done:false}
			]
		},
		methods:{
			newtask: function() {
				this.items.push({content:''})
			},
			removetask: function(index) {
				if(window.event.target.value === ''){
					this.items.splice(index, 1)
				}
			}
		}
	})
</script>
</html>